name: Submit Actions Dependencies
on:
  workflow_call:
    inputs:
      branches:
        required: false
        type: string
      schedule:
        required: false
        type: string
    secrets:
      token:
        required: true
jobs:
  submit-dependencies:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required to read workflow files
      id-token: write # Required for dependency submission
    steps:
      - uses: actions/checkout@v6
      - uses: jessehouwing/actions-dependency-submission@v1
        with:
          token: ${{ secrets.token }}
