name: Submit Actions Dependencies
on:
  workflow_call:
    inputs:
      branches:
        required: false
        type: string
      schedule:
        required: false
        type: string
    secrets:
      token:
        required: true
        
  push:
    branches: main
    
permissions:
  contents: read

jobs:
  submit-dependencies:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required to read workflow files
      id-token: write # Required for dependency submission
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: jessehouwing/actions-dependency-submission@4dc7b7fe66b1f347c027dc0e07587bac5a43bd07 # v1.0.8
        with:
          token: "${{ secrets.token != '' && secrets.token || secrets.GITHUB_TOKEN }}"
