name: Run Actionlint
on: 
  pull_request:
    branches: main
  
  workflow_call:
    
permissions:
  contents: read

jobs:
  run-actionlint:
    runs-on: ubuntu-latest
    permissions:
      # needed for the checkout action
      contents: read
      # needed to annotate the files in a pull request with comments
      pull-requests: write
    steps: 
    # checkout the source code to analyze
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    # run the actionlinter
    - uses: devops-actions/actionlint@467e2ce19b2310e93c9ffa0b50fe31f86b5a7f23 # v0.1.10
      # trying to find a way to fail the workflow, but not block the PR, so far no luck with required workflows
      #continue-on-error: true
      
    #- if: failure()
    #  run: echo "here"    
