name: Submit Actions Dependencies
on:
  workflow_call:
    inputs:
      branches:
        required: false
        type: string
      schedule:
        required: false
        type: string
    secrets:
      token:
        required: true
        
  push:
    branches: main
    
permissions:
  contents: read

jobs:
  submit-dependencies:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required to read workflow files
      id-token: write # Required for dependency submission
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: jessehouwing/actions-dependency-submission@e848a29fd84b874cce3e45ceb00619bc72dbeca3 # v1.0.2
        with:
          token: "${{ secrets.token != '' && secrets.token || secrets.GITHUB_TOKEN }}"
