name: "OpenSSF Scorecard Monitor"
on: 
  push:
    paths:
    - .github/workflows/openssf-scorecard-monitor.yml
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  security-scoring:
    runs-on: ubuntu-latest
    permissions:
      # Write access in order to update the local files with the reports
      contents: write
      # Write access in order to create issues
      issues: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      
      - name: OpenSSF Scorecard Monitor
        uses: UlisesGascon/openssf-scorecard-monitor@v2.0.0-beta8
        with:
          scope: ossf-reporting/scope.json
          database: ossf-reporting/database.json
          report: ossf-reporting/openssf-scorecard-report.md
          auto-commit: true
          auto-push: true
          generate-issue: true
          # The token is needed to create issues, discovery mode and pushing changes in files
          github-token: ${{ secrets.GITHUB_TOKEN }}
          discovery-enabled: true
          discovery-orgs: devops-actions
