name: self-hosted
on:
  workflow_dispatch:
  push:
    paths: 
      - .github/workflows/self-hosted.yml
permissions:
  contents: read

jobs:
  self-hosted-number1:
    runs-on: self-hosted
    steps:
       - name: Harden the runner (Audit all outbound calls)
         uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
         with:
           egress-policy: audit

       - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
       - run: echo "Hello world"
       
       - name: Checkout Git repo manually
         run: |
           mkdir my-repo
           cd my-repo
           git clone https://github.com/devops-actions/.github.git

       - run: dotnet --version

       - run: npm version
